.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 32px 82px;
  background-color: $white-dark;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

  .login-register {
    display: flex;

    .login-btn {
      margin-right: 5px;
      .login {
        font-weight: bold;
        border: 2px solid $primary;
        border-radius: 5px;
        background-color: transparent;
        color: $primary;
        outline: none;
        padding: 5px 22px;
      }
    }
    .register-btn {
      margin-left: 5px;
      .register {
        font-weight: bold;
        background-color: $primary;
        color: $white;
        border-radius: 5px;
        border: 2px solid $primary;
        outline: none;
        padding: 5px 22px;
      }
    }
  }

  .logged-in {
    display: flex;
    align-items: center;

    .cart {
      margin-right: 10px;
      cursor: pointer;
      img {
        width: 26px;
      }
    }
    .profile {
      margin-left: 10px;
      position: relative;
      img {
        width: 42px;
        cursor: pointer;
      }

      .dropdown {
        display: none;
        background-color: #fff;
        width: 180px;
        position: absolute;
        right: 0px;
        top: 52px;
        z-index: 99;
        padding: 0px 0px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1),
          4px 4px 20px rgba(0, 0, 0, 0.1);

        ul {
          hr {
            width: 180px;
            text-align: center;
          }
          li {
            list-style-type: none;
            &.profile-btn {
              padding: 20px 0 0 12px;
              display: flex;
              align-items: center;
              cursor: pointer;
              img {
                width: 26px;
              }

              span {
                padding-left: 10px;
              }
            }
            &.logout-btn {
              padding: 5px 0 5px 12px;
              display: flex;
              align-items: center;
              cursor: pointer;
              img {
                width: 26px;
                padding-left: 3px;
              }

              span {
                padding-left: 10px;
              }
            }
          }
        }
        &.show {
          display: block;
        }
      }
    }
  }
}
