.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status .qr {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

<<<<<<< HEAD
.status .container .text {
  width: 100px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container-text-status {
  font-weight: 500;
  font-size: 10px;
  min-width: 100px;
  text-align: center;
  padding: 3px 0;
  border-radius: 3px;
}

.otw {
  background-color: #00d0ffda;
  cursor: pointer;
}

.success {
  background: #00ff1a94;
  color: #000;
}

.wait {
  background: linear-gradient(180deg, #ff9900c0 0%, #ff99009b 100%);
}

.cancel {
  background-color: #e83939;
  color: #fff;
=======
.container {
  padding: 3px 28px;
  mix-blend-mode: normal;
  border-radius: 2px;
  max-width: 112px;
}

.container .text {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
>>>>>>> e386c091abd7afc53b7bb62870e4a51f8588f0fb
}
